@import url('https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i');

body{
  font-family: 'Google Sans';
  font-weight:bold;
  font-size: 16px;
  text-align:center;
}

a {
    text-decoration-line: none !important;
}

.wave{
  animation: waving;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes waving {
  0% {transform: rotate(0.0deg)}
  10% {transform: rotate(14.0deg)}
  20% {transform: rotate(-8.0deg)}
  30% {transform: rotate(14.0deg)}
  40% {transform: rotate(-4.0deg)}
  50% {transform: rotate(10.0deg)}
  60% {transform: rotate(0.0deg)}
  100% {transform: rotate(0.0deg)}
}
